@using WebApplication8.Modeles;
@using WebApplication8;

@model User

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" />
    <title>Реєстрація користувача</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="main">

    @using (Html.BeginForm("RegisterUser", "Order", FormMethod.Post))
    {
        <h2>Реєстрація користувача</h2>
        <div>
            <label for="Name">ПІБ:</label>
            <input type="text" id="Name" name="Name" required />
        </div>
        <div>
            <label for="Age">Вік:</label>
                <input type="number" id="Age" name="Age" required min="17" step="1" />
        </div>
        <div>
            <input type="submit" value="Підтвердити" />
        </div>
    }
    </div>
</body>
</html>